
//color
$color-gold: #c2aa6f;
$color-dark-gold:#ab9a70;
$color-grey: #3c3c3c;
$color-light-grey: #6a6a6a;
//Media 
$breakpoints-xl: 1200px;
$breakpoints-lg: 992px;
$breakpoints-md: 768px;
$breakpoints-sm: 576px;
$breakpoints-xsm: 375px;

$none: none;